header {
    background-image: url(img/market.jpg);
    background-size: cover;
    background-position:top center;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-color: blue;

}
