.fundo {

    background-size: cover;
    background-position:top center;
    height: 10%;
    position: relative;
    background-repeat: no-repeat;
    background-color: blue;

}
header{
  background-size: cover;
  background-position:top center;
  height: 10%;
  position: relative;
  background-repeat: no-repeat;
  background-color: red;


}
